.ent_ticker ul{
	list-style:none;
}
.ent_ticker li{
	border-bottom: 1px solid #ddd;
	padding: 10px 0px;

}
.ent_ticker a{
	display: block !important;
}
.ent_ticker{}
.ent_ticker{}
.ent_ticker{}
.ent_ticker{}
.ent_ticker{}